@import "vars";

.banner {
    min-height: 544px;
    padding-top: 140px;
    padding-bottom: 89px;
    text-align: center;
    color: #fff;
    text-transform: uppercase;
    background-image: url(../img/banner.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;


}